.booking {
    padding-top: 10px;
    /* background-color: goldenrod; */
    margin-bottom: 0px;
}

.booking-row {
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

label {
    padding-right: 10px;
}

input {
    margin-right: 10px;
}

button {
    background-color: darkorange;
    width: 12%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 10px;
    border-radius: 7px;
    border-style: hidden;
    font-size: 1.17em;
}

button:hover {
    background-color: orange;
}
