header {
  display: flex;
  justify-content: space-between;
  background-color: brown;
  align-items: center;
}

h1 {
  margin-left: 20px;
  color: orange;
}

nav {
  display: flex;
  margin-right: 20px;
}

a {
  all: unset;
  margin: 20px;
  font-size: 20px;
}

a:hover {
  color: orange;
}
