body {
    background-color: lightgrey;
}

.offer {
    /* background-color: darkgoldenrod; */
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

.room-title {
    /* background-color: darkgoldenrod; */
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8%;
    align-self: center;
    height: 100%;

    flex: 1;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.calendarSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkgoldenrod; */
}

.calendarSelect h3 {
    margin-left: 6%;
    margin-right: 6%;
    background-color: darkorange;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;

    border-radius: 7px;
}
.calendarSelect h3:hover {
    background-color: orange;
}

.calendarSelect .selected {
    background-color: brown;
    color: orange;
}

.calendarSelect .selected:hover {
    background-color: brown;
}

.image-container {
    width: 50%;
    /* object-fit: cover; */
}

img {
    /* object-fit: cover; */

    width: 100%;
}

.calendarContainer > div {
    display: flex;
    background-color: brown;
    align-items: center;

    border-top: 4px;
    border-bottom: 4px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: darkorange;
}

@media screen and (max-width: 980px) {
    .calendarContainer > div {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
    }
}

.red {
    color: brown;
}
