.offer {
  background-color: darkgoldenrod;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.room-title {
  background-color: darkgoldenrod;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
